
doctype 5
html
  head
    title Lilyturf
    meta(charset="utf-8")
    link(rel="stylesheet",
      href="http://softwaremaniacs.org/media/soft/highlight/styles/tomorrow.css")
    link(rel="stylesheet",href="page.css")
    //- script(src="http://192.168.1.19:7777/doodle.js")
    script(src="lilyturf.js")
    script(src="http://softwaremaniacs.org/media/soft/highlight/highlight.pack.js")
    script(src="http://pagedown.googlecode.com/hg/Markdown.Converter.js")
    script(src="handle.js")
  body