body {
  width: 800px;
  margin: 0px auto;
  font-family: Marcellus;
}
@font-face {
  font-family: Marcellus;
  src: url("../font/Marcellus.woff") format(woff);
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.main-title {
  font-size: 30px;
  text-align: center;
  margin: 40px auto;
}
pre,
code {
  font-family: Monaco, monospace;
  font-size: 14px;
}
pre {
  box-shadow: 0px 0px 4px #e6e6e6;
}
#disqus_thread {
  margin: 100px 0px 200px;
}
.method {
  margin: 20px 0px;
}
.bold {
  margin: 10px 0px;
}
p {
  margin: 0px;
}
#readme {
  padding: 6px;
}
#readme h1 {
  font-size: 20px;
}
#click {
  background: #fad1d1;
}
